doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        meta(name='author' content='')

        title Blogs List

        // Favicon
        link(rel='icon' type='image/x-icon' href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Page Content
            section.py-5
                .container.px-5

                    h1.fw-bolder.fs-5.mb-4 Daftar Blog

                    .row
                        .col-sm-8.col-md-9

                            .card.border-0.overflow-hidden.mb-5
                                .card-body.p-0
                                    .row.gx-0
                                        .col-lg-7.py-lg-5
                                            .p-4.p-md-5
                                                .badge.bg-primary.bg-gradient.rounded-pill.mb-2 News
                                                .h2.fw-bolder Artikel dan gambar default tersedia
                                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique delectus ab doloremque, qui doloribus ea officiis...
                                                a.stretched-link.text-decoration-none(href='#!')
                                                    | Baca selengkapnya
                                                    i.bi.bi-arrow-right
                                        .col-lg-5
                                            .bg-featured-blog.rounded-3(style='background-image: url("https://dummyimage.com/700x350/343a40/6c757d");')

                            .card.rounded-3.overflow-hidden.mb-5
                                .card-body.p-0
                                    .row.gx-0
                                        .col
                                            .p-4.p-md-5
                                                .badge.bg-primary.bg-gradient.rounded-pill.mb-2 News
                                                .h2.fw-bolder Artikel tanpa gambar default
                                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique delectus ab doloremque, qui doloribus ea officiis...
                                                a.stretched-link.text-decoration-none(href='#!')
                                                    | Baca selengkapnya
                                                    i.bi.bi-arrow-right

                            .card.rounded-3.overflow-hidden.mb-5
                                .card-body.p-0
                                    .row.gx-0
                                        .col
                                            .p-4.p-md-5
                                                .badge.bg-primary.bg-gradient.rounded-pill.mb-2 News
                                                .h2.fw-bolder Artikel tanpa gambar default
                                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique delectus ab doloremque, qui doloribus ea officiis...
                                                a.stretched-link.text-decoration-none(href='#!')
                                                    | Baca selengkapnya
                                                    i.bi.bi-arrow-right

                            .card.border-0.overflow-hidden.mb-5
                                .card-body.p-0
                                    .row.gx-0
                                        .col-lg-7.py-lg-5
                                            .p-4.p-md-5
                                                .badge.bg-primary.bg-gradient.rounded-pill.mb-2 News
                                                .h2.fw-bolder Artikel dan gambar default tersedia
                                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique delectus ab doloremque, qui doloribus ea officiis...
                                                a.stretched-link.text-decoration-none(href='#!')
                                                    | Baca selengkapnya
                                                    i.bi.bi-arrow-right
                                        .col-lg-5
                                            .bg-featured-blog.rounded-3(style='background-image: url("https://dummyimage.com/700x350/343a40/6c757d");')


                        .col
                            p
                                | sidebar

        // Footer
        include includes/footer.pug

        include includes/scripts.pug
